<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="repository_provider" name="Repository provider" schema="schema/repository_provider.exsd"/>
   <extension-point id="resource_change" name="resource change" schema="schema/resource_change.exsd"/>
   <extension-point id="repository_node_provider" name="Repository node provider" schema="schema/repository_node.exsd"/>
   <extension-point id="repository_content" name="Repository content" schema="schema/repository_content.exsd"/>
   <extension-point id="connection_provider" name="Connection provider" schema="schema/connection_provider.exsd"/>
   <extension-point id="repository_handler" name="Repository handler" schema="schema/repository_handler.exsd"/>
   <extension-point id="repository_service" name="Repository service" schema="schema/repository_service.exsd"/>
   <extension-point id="metadata_provider" name="Metadata provider" schema="schema/metadata_provider.exsd"/>
   <extension-point id="org.talend.core.repository.login.task" name="Login Task" schema="schema/login_task.exsd"/>
   <extension-point id="checkDeleteItemReference" name="Check Delete Item Reference" schema="schema/checkDeleteItemReference.exsd"/>

   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.core.repository.ProxyRepositoryService"
            serviceId="IProxyRepositoryService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
       <Action
            class="org.talend.repository.ui.actions.DeleteTableAction"
            id="org.talend.repository.actions.deletetable"
            level="40"
            name="Metadata/Delete table"/>
        <Action
            class="org.talend.repository.ui.actions.DeleteAction"
            id="org.talend.repository.actions.delete"
            level="40"
            name="Delete"/>
      <Action
            class="org.talend.repository.ui.actions.RestoreAction"
            id="org.talend.repository.actions.restore"
            level="40"
            name="Restore"/>
      <Action
            class="org.talend.repository.ui.actions.EmptyRecycleBinAction"
            id="org.talend.repository.actions.emptyrecyclebin"
            name="Empty recycle bin"/>
      <Action
            class="org.talend.repository.ui.actions.CopyAction"
            id="org.talend.repository.actions.copy"
            level="50"
            name="Copy"/>
      <Action
            class="org.talend.repository.ui.actions.PasteAction"
            id="org.talend.repository.actions.paste"
            level="55"
            name="Paste"/>
       <Action
             class="org.talend.repository.ui.actions.DuplicateAction"
             id="org.talend.repository.actions.duplicate"
             level="50"
             name="Duplicate">
       </Action>     
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
       <RepositoryComponent
             name="ACCESS"
             withSchema="true"
             input="tAccessInput"
             output="tAccessOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="ACCESS">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="AS400"
             withSchema="true"
             input="tAS400Input"
             output="tAS400Output">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="AS400">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="EXASOL"
             withSchema="true"
             input="tEXAInput"
             output="tEXAOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="EXASOL">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="FILEARFF"
             type="DELIMITED"
             input="tFileInputARFF"
             output="tFileOutputARFF">
          <Item
                clazz="org.talend.core.model.properties.ConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="FILEDELIMITED"
             type="DELIMITED"
             input="tFileInputDelimited"
             output="tFileOutputDelimited">
          <Item
                clazz="org.talend.core.model.properties.DelimitedFileConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="FILEEXCEL"
             type="EXCEL"
             input="tFileInputExcel"
             output="tFileOutputExcel">
          <Item
                clazz="org.talend.core.model.properties.ExcelFileConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="FILELDIF"
             type="LDIF"
             input="tFileInputLDIF"
             output="tFileOutputLDIF">
          <Item
                clazz="org.talend.core.model.properties.LdifFileConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="FILEPOSITIONAL"
             type="POSITIONAL"
             input="tFileInputPositional"
             output="tFileOutputPositional">
          <Item
                clazz="org.talend.core.model.properties.PositionalFileConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="FILEREGEX"
             type="REGEX"
             input="tFileInputRegex">
          <Item
                clazz="org.talend.core.model.properties.RegExFileConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="FILEXML"
             type="XML"
             input="tFileInputXML"
             output="tFileOutputXML">
          <Item
                clazz="org.talend.core.model.properties.XmlFileConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="FILEXMLOUTPUT"
             type="XMLOUTPUT"
             output="tAdvancedFileOutputXML">
          <Item
                clazz="org.talend.core.model.properties.XmlFileConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="FIREBIRD"
             withSchema="true"
             input="tFirebirdInput"
             output="tFirebirdOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="FIREBIRD">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="GENERAL_JDBC"
             withSchema="true"
             input="tJDBCInput"
             output="tJDBCOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="GENERAL_JDBC">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="GENERICSCHEMA"
             type="GENERICSCHEMA">
          <Item
                clazz="org.talend.core.model.properties.GenericSchemaConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="GODBC"
             withSchema="true"
             input="tDBInput"
             output="tDBOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="GODBC">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="GREENPLUM"
             withSchema="true"
             input="tGreenplumInput"
             output="tGreenplumOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="GREENPLUM">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="HIVE"
             withSchema="true">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="HIVE">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="HSQLDB"
             withSchema="true"
             input="tHSQLDbInput"
             output="tHSQLDbOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="HSQLDB">
          </DBType>
          <DBType
                type="HSQLDB_IN_PROGRESS">
          </DBType>
          <DBType
                type="HSQLDB_SERVER">
          </DBType>
          <DBType
                type="HSQLDB_WEBSERVER">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="IBMDB2"
             withSchema="true"
             input="tDB2Input"
             output="tDB2Output">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="IBMDB2">
          </DBType>
          <DBType
                type="IBMDB2ZOS">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="INFORMIX"
             withSchema="true"
             input="tInformixInput"
             output="tInformixOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="INFORMIX">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="INGRES"
             withSchema="true"
             input="tIngresInput"
             output="tIngresOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="INGRES">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="INTERBASE"
             withSchema="true"
             input="tInterbaseInput"
             output="tInterbaseOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="INTERBASE">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="JAVADB"
             withSchema="true"
             input="tJavaDBInput"
             output="tJavaDBOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="JAVADB">
          </DBType>
          <DBType
                type="JAVADB_DERBYCLIENT">
          </DBType>
          <DBType
                type="JAVADB_JCCJDBC">
          </DBType>
          <DBType
                type="JAVADB_EMBEDED">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="LDAP"
             type="LDAP"
             input="tLDAPInput"
             output="tLDAPOutput">
          <Item
                clazz="org.talend.core.model.properties.LDAPSchemaConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="MAXDB"
             withSchema="true"
             input="tMaxDBInput"
             output="tMaxDBOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="MAXDB">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="MSODBC"
             withSchema="true"
             input="tDBInput"
             output="tDBOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="MSODBC">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="MSSQLODBC"
             withSchema="true"
             input="tMSSqlInput"
             output="tMSSqlOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="MSSQL">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="MYSQL"
             withSchema="true"
             input="tMysqlInput"
             output="tMysqlOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="MYSQL">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="NETEZZA"
             withSchema="true"
             input="tNetezzaInput"
             output="tNetezzaOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="NETEZZA">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="ORACLE"
             withSchema="true"
             input="tOracleInput"
             output="tOracleOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="ORACLEFORSID">
          </DBType>
          <DBType
                type="ORACLE_OCI">
          </DBType>
          <DBType
                type="ORACLE_RAC">
          </DBType>
          <DBType
                type="ORACLESN">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="PARACCEL"
             withSchema="true"
             input="tParAccelInput"
             output="tParAccelOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="PARACCEL">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="PLUSPSQL"
             withSchema="true"
             input="tPostgresPlusInput"
             output="tPostgresPlusOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="PLUSPSQL">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="PSQL"
             withSchema="true"
             input="tPostgresqlInput"
             output="tPostgresqlOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="PSQL">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="SALESFORCE"
             type="SALESFORCE"
             input="tSalesforceInput"
             output="tSalesforceOutput">
          <Item
                clazz="org.talend.core.model.properties.SalesforceSchemaConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="SAS"
             withSchema="true"
             input="tSasInput"
             output="tSasOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="SAS">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="SQLITE"
             withSchema="true"
             input="tSQLiteInput"
             output="tSQLiteOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="SQLITE">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="SYBASEASE"
             withSchema="true"
             input="tSybaseInput"
             output="tSybaseOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="SYBASEASE">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="TERADATA"
             withSchema="true"
             input="tTeradataInput"
             output="tTeradataOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="TERADATA">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="TERADATA_TABLE"
             withSchema="true"
             input="tELTTeradataInput"
             output="tELTTeradataOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="TERADATA">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="VECTORWISE"
             withSchema="true"
             input="tVectorWiseInput"
             output="tVectorWiseOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="VECTORWISE">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="VERTICA"
             withSchema="true"
             input="tVerticaInput"
             output="tVerticaOutput">
          <Item
                clazz="org.talend.core.model.properties.DatabaseConnectionItem">
          </Item>
          <DBType
                type="VERTICA">
          </DBType>
       </RepositoryComponent>
       <RepositoryComponent
             name="WEBSERVICE"
             type="WEBSERVICE"
             output="tWebService">
          <Item
                clazz="org.talend.core.model.properties.WSDLSchemaConnectionItem">
          </Item>
       </RepositoryComponent>
       <RepositoryComponent
             name="WSDL"
             type="WSDL"
             input="tWebServiceInput">
          <Item
                clazz="org.talend.core.model.properties.WSDLSchemaConnectionItem">
          </Item>
       </RepositoryComponent>
   </extension>
   <extension
         point="org.talend.core.runtime.repositoryComponent_provider">
      <RepositoryComponent
            default="tRunJob"
            name="RUNJOB">
         <Item
               clazz="org.talend.core.model.properties.ProcessItem">
         </Item>
      </RepositoryComponent>
      <DragAndDropFilter
            clazz="org.talend.core.repository.model.TRunjobRepositoryComponentDndFilter"
            id="org.talend.core.repository.tRunJobDragAndDropFilter"
            name="tRunJob DnD Filter">
      </DragAndDropFilter>
   </extension>
   <extension
         point="org.talend.core.repository.login.task">
      <loginTask
            class="org.talend.core.repository.GeneratedJetEmitersLoginTask">
      </loginTask>
   </extension>
   <extension
         point="org.talend.core.repository.checkDeleteItemReference">
      <check
            class="org.talend.core.repository.model.CheckJobletDeleteReference"
            priority="high">
      </check>
   </extension>


</plugin>
