<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.repository.sapwizard.SAPProviderService"
            serviceId="ISAPProviderService">
      </Service>
   </extension>
   <extension
         point="org.talend.core.repositoryContextualsActions">
      <Action
            class="org.talend.repository.sapwizard.actions.CreateSAPConnectionAction"
            id="org.talend.repository.sapwizard.actions.CreateSAPConnectionAction"
            isEditAction="false"
            isPropertiesAction="false"
            isReadAction="false"
            level="10"
            name="Metadata/Create SAP">
      </Action>
   </extension>

</plugin>
